.About_me{
    display: flex;
    flex-direction: row;
    margin-left: calc(250px + 10vh);
    margin-right: calc(10vh-88px);
    justify-content: center;
    z-index: 3;
}

.About_me img{
    height: 100%;
    margin: 200px 0;
    
}

.About_me .Presentation{
    color: var(--background);
    margin: 250px 0;
    text-align: left;
    height: 100%;
}


.About_me .Presentation h2{
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
    margin-top: 140px;
    margin-bottom: 40px;
}

.Presentation p{
    font-size: var(--font-size-mid);
    font-weight: var(--font-weight-mid);
    line-height: 1.36;
}
.Presentation b{
    font-size: var(--font-size-mid);
    font-weight: var(--font-weight-big);
}

