.First_part h1 {
    color: var(--main-color-b);
    font-size:  68px;;
    margin: 15px;

}
.First_part h2 {
    color: var(--main-color-b);
    font-size: 43px;
    margin: 15
    px;
}
.First_part .logo {
    width: 350px;
    margin: 33px;
}