.Waves {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.wave {
    position: absolute;
    width:200%; /* Ajustado para permitir la repetición de la imagen */
    height: 100%;
    background-color: transparent;
    background-repeat: repeat-x; /* Asegura que la imagen se repita horizontalmente */
}

.wave1 {
    background-image: url('/images/elements/waves/wave_l.svg');
    animation: moveWave1 1000s linear infinite;
}

.wave2 {
    background-image: url('/images/elements/waves/wave_d.svg');
    animation: moveWave2 1500s linear infinite reverse;
}

.wave3 {
    background-image: url('/images/elements/waves/wave_dd.svg');
    animation: moveWave3 1500s linear infinite;
}

@keyframes moveWave1 {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: -10000% 0;
    }
}

@keyframes moveWave2 {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: -10000% 0;
    }
}

@keyframes moveWave3 {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: -10000% 0;
    }
}

