.Skills {
    margin-left: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


.Skills h2{
    color: var(--background);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
    text-align: left;
}

.grid-container {
    display: grid;
    margin: 0 10%;
    width: 80%;
    max-width: 1200px;
    grid-template-columns:  56% 3% 41%;
    margin: 90px 0 30vh 0;
}


.grid-item {
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item h3 {
    color: var(--background);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    margin-top: 12px;
    margin-bottom: 20px;
}

.grid-item img {
    width: 105px;
}
.divider {
    grid-column: 2;
    width: 1px; 
    background-color: var(--background);
    height: calc(100% - 20px); 
    margin: 0 auto;
    
}



.software-type{
    grid-column: 1;
}

.design-type{
    grid-column: 3;
}

.software-type-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.software-type-grid > div {
    flex: 1 0 calc(25% - 10px);
    margin: 0 5px;
}

.design-type-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.design-type-grid > div {
    flex: 1 0 calc(33% - 10px);
    margin: 0 5px;
}