.Experience{
    margin-left: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 900px;
    align-items: center;
    z-index: 3;
}

.Experience h2{
    color: var(--background);
    font-size: var(--font-size-big); 
    font-weight: var(--font-weight-big);
    margin-bottom: 90px;
}

.Experience .container{
    margin: 0 10%;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Experience .experience-item{
    width: 100%;
    max-width: 1200px;
    background-color: var(--main-color-b);
    border-radius: 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-big);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--background);
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.Experience .experience-item:hover{
    background-color: var(--main-color-l);
}

.Experience .experience-item-son{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
