:root {
    --background: #FBFBFB;
    --main-color-l: #4689D9;
    --main-color-b: #44474F;
    --font: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--background);
    background-color: var(--background);
}